<h1 class="mt-4">Entrada de Estoque</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active">
    {{ entradaEstoque.id ? "Visualização" : "Cadastro" }}
  </li>
</ol>
<div class="container">
  <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          Entrada de Estoque salva/atualizada com sucesso!
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" *ngIf="entradaEstoque.id">
        <div class="form-group">
          <label>ID:</label>
          <input type="text" [ngModel]="entradaEstoque.id" name="id" class="form-control" disabled />
        </div>
      </div>

      <div class="col-md-6" *ngIf="entradaEstoque.id && entradaEstoque.itemPedido?.pedido.id">
        <div class="form-group">
          <label>Pedido: </label>
          <input type="text" class="form-control" [(ngModel)]="entradaEstoque.itemPedido.pedido.id" name="pedido"
            disabled />
        </div>
      </div>

      <div class="col-md-6" *ngIf="entradaEstoque.id">
        <div class="form-group">
          <label>Data Cadastro:</label>
          <input type="text" class="form-control" name="dataCadastro" [ngModel]="entradaEstoque.dataCadastro"
            disabled />
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>Produto: *</label>
          <select [disabled]="!permiteEdicao" class="form-control" [ngModelOptions]="{ standalone: true }"
            [(ngModel)]="produtoSelecionado.id" (ngModelChange)="onChange(produtoSelecionado)">
            <option value="">Selecione...</option>
            <option *ngFor="let produto of produtos" [ngValue]="produto.id">
              {{ produto.descricao }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Preço: *</label>
          <input [disabled]="!permiteEdicao" type="number" class="form-control" [(ngModel)]="entradaEstoque.preco"
            name="preco" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Quantidade: *</label>
          <input [disabled]="!permiteEdicao" type="number" class="form-control" [(ngModel)]="entradaEstoque.quantidade"
            name="quantidade" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Justificativa: *</label>
          <input [disabled]="!permiteEdicao" type="text" class="form-control" [(ngModel)]="entradaEstoque.justificativa"
            name="justificativa" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <button type="submit" class="btn btn-success" *ngIf="!entradaEstoque.id">
          <i class="fa fa-save"></i> Salvar
        </button>

        <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left"></i> Voltar
        </button>
      </div>
    </div>
  </form>
</div>
