<h1 class="h3 mb-2 text-gray-800">Entradas de Estoque</h1>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
      {{ mensagemSucesso }}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
      {{ mensagemErro }}
    </div>
  </div>
</div>

<div class="row" *ngIf="false">
  <div class="col-md-1">
    <button class="btn btn-warning btn-icon-split" (click)="novoCadastro()" [disabled]="!permiteInserir">
      <span class="icon text-white-50">
        <i class="fas fa-plus"></i>
      </span>
      <span class="text">Entrada Manual</span>
    </button>
  </div>
</div>
<br />
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">{{tableConfig.title}}</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Pedido</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>ID</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Pedido</th>
            <th>Ação</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let entradaEstoque of entradasEstoque">
            <td>{{ entradaEstoque.id }}</td>
            <td>{{ entradaEstoque.produto.descricao }}</td>
            <td>{{ entradaEstoque.quantidade }}</td>
            <td>{{ entradaEstoque.preco }}</td>
            <td>{{ entradaEstoque.itemPedido?.pedido.id }}</td>
            <td style="width: 15%;" align="center">
              <button class="btn btn-primary btn-circle ml-2"
                routerLink="/entradas-estoque/form/{{ entradaEstoque.id }}">
                <i class="fas fa-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
