<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
      {{ mensagemSucesso }}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
      {{ mensagemErro }}
    </div>
  </div>
</div>
<br />
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Itens do Venda</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Desconto</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Desconto</th>
            <th>Ação</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let item of itens">
            <td>{{ item.id }}</td>
            <td>{{ item.produto.descricao }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.preco }}</td>
            <td>{{ item.desconto }}</td>
            <td>
              <button class="btn btn-primary btn-circle ml-5"
                routerLink="/pedidos/{{item.pedido.id}}/itens-pedido/form/{{ item.id }}">
                <i class="fas fa-edit"></i>
              </button>
              <button class="btn btn-danger btn-circle ml-2 delete" (click)="preparaDelecao(item)" data-toggle="modal"
                data-target="#modalDelecao">
                <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="modalDelecao" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Confirmação</h4>
      </div>

      <div class="modal-body" *ngIf="itemSelecionado">
        Confirma a deleção da Venda
        {{ itemSelecionado.id }}?
      </div>

      <div class="modal-footer">
        <button class="btn btn-success" (click)="deletarVenda()" data-dismiss="modal">
          Confirmar
        </button>
        <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
