<h1 class="h3 mb-2 text-gray-800">Estoque</h1>
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-success" role="alert" *ngIf="mensagemSucesso">
      {{ mensagemSucesso }}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
      {{ mensagemErro }}
    </div>
  </div>
</div>

<form #consultaForm="ngForm" (submit)="consultar()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Produto: </label>
        <select class="form-control" [ngModelOptions]="{ standalone: true }" [(ngModel)]="idProduto">
          <option value="">Selecione...</option>
          <option *ngFor="let produto of produtos" [ngValue]="produto.id">
            {{ produto.descricao }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Quantidade: </label>
        <input type="text" class="form-control" [(ngModel)]="quantidade" name="quantidade" />
      </div>
    </div>

    <br />

    <div class="col-md-6">
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-search"></i> Consultar
      </button>
    </div>
  </div>
</form>

<br />
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Lista de produtos em estoque</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Quantidade Mínima</th>
            <th>Quantidade Máxima</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Quantidade Mínima</th>
            <th>Quantidade Máxima</th>
          </tr>
        </tfoot>
        <tbody>
          <tr *ngFor="let estoque of estoques">
            <td>{{ estoque.produto.id }}</td>
            <td>{{ estoque.produto.codigo }}</td>
            <td>{{ estoque.produto.descricao }}</td>
            <td>{{ estoque.quantidade }}</td>
            <td>{{ estoque.produto.quantidadeMinima }}</td>
            <td>{{ estoque.produto.quantidadeMaxima }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
