<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
    <div class="sidebar-brand-icon">
      <i class="fas fa-dolly"></i>
    </div>
    <div class="sidebar-brand-text mx-3">e-Stock WMS</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Sistema</div>

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Home</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Heading -->
  <div class="sidebar-heading">Cadastros</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCadastros" aria-expanded="true"
      aria-controls="collapseCadastros">
      <i class="fas fa-fw fa-folder"></i>
      <span>Básicos</span>
    </a>
    <div id="collapseCadastros" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/fornecedores">Fornecedores</a>
        <a class="collapse-item" routerLink="/clientes">Clientes</a>
        <a class="collapse-item" routerLink="/servicos-prestados">Serviços Prestados</a>
        <a class="collapse-item" routerLink="/unidades-medida">Unidades Medida</a>
        <a class="collapse-item" routerLink="/categorias">Categorias</a>
        <a class="collapse-item" routerLink="/produtos">Produtos</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Heading -->
  <div class="sidebar-heading">Estoque</div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGestEstoque"
      aria-expanded="true" aria-controls="collapseCadastros">
      <i class="fas fa-fw fa-folder"></i>
      <span>Gestão de Estoque</span>
    </a>
    <div id="collapseGestEstoque" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/estoques">Consultar Estoque</a>
        <a class="collapse-item" routerLink="/entradas-estoque">Entradas de Estoque</a>
        <a class="collapse-item" routerLink="/saidas-estoque">Saídas de Estoque</a>
      </div>
    </div>
  </li>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEntrada" aria-expanded="true"
      aria-controls="collapseEntrada">
      <i class="fas fa-fw fa-folder"></i>
      <span>Operações de Entrada</span>
    </a>
    <div id="collapseEntrada" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/entradas-estoque/form">Entrada Manual</a>
        <a class="collapse-item" routerLink="/pedidos">Pedido de Compras</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSaida" aria-expanded="true"
      aria-controls="collapseSaida">
      <i class="fas fa-fw fa-folder"></i>
      <span>Operações de Saída</span>
    </a>
    <div id="collapseSaida" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/vendas">Venda</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
<!-- End of Sidebar -->
